<form [formGroup]="formData" novalidate (ngSubmit)="send()">
  <div>
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" formControlName="firstName"/>
  </div>
  <div>
    <label for="lastName">last Name</label>
    <input type="text" name="lastName" formControlName="lastName"/>
  </div>
  <div>
    <label for="phoneNumber">Phone Number</label>
    <input type="text" name="phoneNumber" formControlName="phoneNumber"/>
  </div>
  <div *ngIf="formData.controls?.phoneNumber?.invalid">
    {{ formData.controls?.phoneNumber?.errors | json}}
    {{ formData.get('phoneNumber')?.errors | json}}
  </div>
  <button type="submit" [disabled]="formData.invalid">Send</button>
</form>
